@model P5CreateFirstAppDotNet.Models.ViewModels.VehicleViewModel
@Html.ValidationSummary(true)
@{
    ViewData["Title"] = "Ajouter une voiture";
}

<main class="container form-container">
    <h1 class="text-center my-5">Ajouter une voiture</h1>
    <p class="text-center text-muted" id="requiredNote">Tous les champs sont obligatoires</p>

    <section class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Create" method="post" enctype="multipart/form-data" aria-describedby="formErrors" novalidate>
                <!-- Validation Summary -->
                @* Anti-forgery token *@
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3" id="formErrors" role="alert" aria-live="assertive"></div>

                <div class="form-group mb-3">
                    <label asp-for="Label" class="form-label">Nom de la voiture <span aria-hidden="true" class="text-danger">*</span></label>
                    <input asp-for="Label" class="form-control" aria-required="true" aria-describedby="LabelError" />
                    <span asp-validation-for="Label" class="text-danger" id="LabelError" role="alert"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="VIN" class="form-label">Numéro VIN <span aria-hidden="true" class="text-danger">*</span></label>
                    <input asp-for="VIN" class="form-control" aria-required="true" aria-describedby="VINError" />
                    <span asp-validation-for="VIN" class="text-danger" id="VINError" role="alert"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="YearOfProductionId" class="form-label">Année de production de la voiture <span aria-hidden="true" class="text-danger">*</span></label>
                    <select asp-for="YearOfProductionId" class="form-select" asp-items="Model.YearsOfProduction" aria-required="true" aria-describedby="YearOfProductionIdError"></select>
                    <span asp-validation-for="YearOfProductionId" class="text-danger" id="YearOfProductionIdError" role="alert"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="VehicleBrandId" class="form-label">Marque de la voiture <span aria-hidden="true" class="text-danger">*</span></label>
                    <select asp-for="VehicleBrandId" class="form-select" asp-items="Model.VehicleBrands" id="CarBrandId" aria-required="true" aria-describedby="VehicleBrandIdError"></select>
                    <span asp-validation-for="VehicleBrandId" class="text-danger" id="VehicleBrandIdError" role="alert"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="VehicleModelId" class="form-label">Modèle de la voiture <span aria-hidden="true" class="text-danger">*</span></label>
                    <select asp-for="VehicleModelId" class="form-select" asp-items="Model.VehicleModels" id="VehicleModelId" aria-required="true" aria-describedby="VehicleModelIdError"></select>
                    <span asp-validation-for="VehicleModelId" class="text-danger" id="VehicleModelIdError" role="alert"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="VehicleTrimId" class="form-label">Finition de la voiture <span aria-hidden="true" class="text-danger">*</span></label>
                    <select asp-for="VehicleTrimId" class="form-select" asp-items="Model.VehicleTrims" aria-required="true" aria-describedby="VehicleTrimIdError"></select>
                    <span asp-validation-for="VehicleTrimId" class="text-danger" id="VehicleTrimIdError" role="alert"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="PurchaseDate" class="form-label">Date d'achat <span aria-hidden="true" class="text-danger">*</span></label>
                    <input asp-for="PurchaseDate" class="form-control" type="date" aria-required="true" aria-describedby="PurchaseDateError" />
                    <span asp-validation-for="PurchaseDate" class="text-danger" id="PurchaseDateError" role="alert"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="PurchasePrice" class="form-label">Prix d'achat <span aria-hidden="true" class="text-danger">*</span></label>
                    <input asp-for="PurchasePrice" class="form-control prix" aria-required="true" aria-describedby="PurchasePriceError" />
                    <span asp-validation-for="PurchasePrice" class="text-danger" id="PurchasePriceError" role="alert"></span>
                </div>

                <div class="form-group mb-3">
                    <label for="MediaFiles" class="form-label">Ajoutez une image <span aria-hidden="true" class="text-danger">*</span></label>
                    <input type="file" asp-for="MediaFiles" multiple class="form-control" aria-describedby="MediaFilesError" />
                    <span asp-validation-for="MediaFiles" class="text-danger" id="MediaFilesError" role="alert"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-custom" accesskey="p">Publier</button>
                </div>
            </form>
        </div>
    </section>
</main>

@section Scripts {
    <partial name="_scripts" />
    <partial name="_ValidationScriptsPartial" />
}
