@model P5CreateFirstAppDotNet.Models.ViewModels.VehicleViewModel

@{
    ViewData["Title"] = "Ajouter une voiture";
}

<div class="container">
    <a asp-action="Index" class="btn btn-return" style="position: relative; top: 35px;">
        &larr; Retour
    </a>

    <main style="max-width: 800px; margin: 40px auto;">
        <h2 class="mt-5 mb-4 text-center">Ajouter une voiture</h2>

        <form asp-action="Create" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <!-- Prix d’achat -->
            <div class="mb-3">
                <label asp-for="PurchasePrice" class="form-label">Prix d’achat</label>
                <input asp-for="PurchasePrice" class="form-control" />
                <span asp-validation-for="PurchasePrice" class="text-danger"></span>
            </div>

            <!-- Année -->
            <div class="mb-3">
                <label asp-for="Year" class="form-label">Année</label>
                <select asp-for="Year" class="form-select">
                    <option value="">-- Sélectionner une année --</option>
                    @for (int year = DateTime.Now.Year; year >= 1990; year--)
                    {
                        <option value="@year">@year</option>
                    }
                </select>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <!-- Date d'achat -->
            <div class="mb-3">
                <label accesskey="$0" asp-for="PurchaseDate" class="form-label">Date d'achat</label>
                <input asp-for="PurchaseDate" class="form-control" type="date" />
                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
            </div>

            <!-- Marque -->
            <div class="mb-3">
                <label class="form-label">Marque</label>
                <select asp-for="BrandId" asp-items="ViewBag.BrandList" class="form-select">
                    <option value="">-- Sélectionner une marque --</option>
                </select>

            </div>

            <!-- Modèle -->
            <div class="mb-3">
                <label class="form-label">Modèle</label>
                <select asp-for="VehicleModelId" asp-items="ViewBag.VehicleModelList" class="form-select">
                    <option value="">-- Sélectionner un modèle --</option>
                </select>
            </div>

            <!-- Finition -->
            <div class="mb-3">
                <label class="form-label">Finition</label>
                <select asp-for="TrimId" asp-items="ViewBag.TrimList" class="form-select">
                    <option value="">-- Sélectionner une finition --</option>
                </select>
            </div>

            <!-- Description -->
            <div class="mb-3">
                <label asp-for="Description" class="form-label">Description</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <!-- Image -->
            <div class="mb-3">
                <label asp-for="ImageFile" class="form-label">Image</label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <!-- Status -->
            <div class="mb-3">
                <label asp-for="StatusId" class="form-label">Status</label>
                <select asp-for="StatusId" asp-items="ViewBag.StatusList" class="form-select">
                    <option value="">-- Sélectionner un statut --</option>
                </select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-custom btn-add-car">Publier</button>
            </div>
        </form>
    </main>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
