@model IEnumerable<P5CreateFirstAppDotNet.Models.Entities.Brand>

<div class="container" style="max-width: 800px; margin: 40px auto;">

		<h2 class="mt-5 mb-3" style="text-align: center">Liste des marques</h2>

		<div class="text-center mb-4">
			<a class="btn btn-custom btn-add-car" asp-action="Create">Ajouter une marque</a>
		</div>

	<table class="table table-striped" style="width: 100%; margin: 0 auto; border-collapse: collapse;">
		<thead style="border-bottom : 1px solid black;">
			<tr>
				<th>Nom</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var brand in Model)
			{
				<tr>
					<td>@brand.Name</td>
					<td style="text-align: right; white-space: nowrap;">

						<a class="btn btn-custom" asp-action="Edit" asp-route-id="@brand.BrandId">Modifier</a>
						<a class="btn btn-danger" asp-action="Delete" asp-route-id="@brand.BrandId">Supprimer</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
